/* Custom CSS for Dragon Age page*/

body{ background-color: #660000; }

#container { 
	background: url(../images/dragon_age/dragon_age_bg_header.jpg) top center no-repeat;
	background-size: 100%;
}
#footer {
	background: url(../images/dragon_age/dragon_age_bg_footer.jpg) bottom center no-repeat;
	background-size: 100%;
	z-index: -1;
	background-color: #660000;
}
#copy {
	color: white;
	padding:10px;
}
