/* Custom CSS for Fallout page*/

body{ background-color: #718191; }

#container { 
	background: url(../images/fallout/fallout_bg_header.jpg) top center no-repeat;
	background-size: 100%;
}

#footer { 
	background: url(../images/fallout/fallout_bg_footer.jpg) bottom center no-repeat;
	background-size: 100%;
	z-index:-1;
	background-color: #718191;
}
#copy {
	color: black;
	padding:10px;
}
