/* Custom CSS for killstrain page*/

body{ background-color: #000000; }

#container { 
	background: url(../images/killstrain/killstrain_bg_header.jpg) top center no-repeat;
	background-size: 100%;
}
#footer {
	background: url(../images/killstrain/killstrain_bg_footer.jpg) bottom center no-repeat;
	background-size: 100%;
	z-index: -1;
	background-color: #000000;
}
#copy {
	color: black;
	padding:10px;
}
