/* Custom CSS for Killzone page*/

body{ background-color: #909076; }

#container { 
	background: url(../images/killzone/killzone_bg_header.jpg) top center no-repeat;
	background-size: 100%;
}
#footer {
	background: url(../images/killzone/killzone_bg_footer.jpg) bottom center no-repeat;
	background-size: 100%;
	z-index: -1;
	background-color: #909076;
}
#copy {
	color: black;
	padding:10px;
}
