/* Custom CSS for Mass Effect page*/

body{ background-color: #121f35; }

#container { 
	background: url(../images/mass_effect/mass_effect_bg_header.jpg) top center no-repeat;
	background-size: 100%;
}
#footer { 
	background: url(../images/mass_effect/mass_effect_bg_footer.jpg) bottom center no-repeat;
	background-size: 100%;
	z-index: -1;
	background-color: #162743;
}
#copy {
	color: white;
	padding:10px;
}
