/* Custom CSS for Mass Effect page*/

body{ background-color: #162743; }

#container { 
	background: url(../images/mass_effect/mass_effect_bg_header.jpg) top center no-repeat;
	background-size: 100%;
}
#footer { 
	background: url(../images/mass_effect/mass_effect_bg_footer.jpg) bottom center no-repeat;
	background-size: 100%;
	z-index: -1;
	background-color: #162743;
}
#copy {
/*
	margin-top: -506px;
	height: 570px;
	*/color: white;
}
#copy-content { position: absolute; bottom: 32px; left: 32px;}